# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS and Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Runtime data
pids
*.pid
*.seed
*.pid.lock
